<!DOCTYPE html> 
<html>
	<head>
		<meta charset="UTF-8"/>
		<link rel=stylesheet href=Login.css/>
		<title>Login</title>
	</head>
	<body>
        <h1>Login</h1>
        <form method ='POST' action=''>
            <table>
                <tr>
                    <td><label>Benutzername</label></td>
                    <td><input type="text" name ="username"/></td>
                </tr>
            
            
                <tr>
                    <td><label>Passwort</label></td>
                    <td><input type="password" name ="password"/></td>
                </tr>
            </table>
            <input type="submit" name="Anmelden" value="Anmelden"/> 
        </form>
	</body>
</html>